@model IndexViewModel;

@{
    ViewBag.Title = "Wellcome!";
}

<div class="text-center heading-margin">
    <h1 class="font-italic">Welcome to Annual Leave System!</h1>

</div>

@if (!this.User.Identity.IsAuthenticated)
{


    <div class="container">
        <div class="col-md-8 px-0 offset-md-2">
            <img src="~/index.jpeg" class="mx-auto d-block img-fluid">
        </div>
    </div>
 



}
else
{
    <div class="text-center">
        <h4>Currently we have in total:</h4>
    </div>
    <div class="text-center col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Employees</th>
                    <th scope="col">Approved Leaves</th>
                    <th scope="col">Pending approvals</th>
                    <th scope="col">Total days</th>
                    <th scope="col">Missing employees for today</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">@Model.EmployeesCount</td>
                    <td class="font-weight-bold">@Model.ApprovedLeaveCount</td>
                    <td class="font-weight-bold">@Model.InProgressLeaveCount</td>
                    <td class="font-weight-bold">@Model.AllLeavesTotalDays</td>
                    <td class="font-weight-bold">@Model.MissingEmployees</td>

                </tr>
            </tbody>
        </table>
    </div>

}
