
@model LeaveFormModel;

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center"> @ViewBag.Title:</h2>
            <form method="post">


                <div class="form-group date datepicker" id="startDate">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" type="text" id="StartDateInput" class="form-control" value="@(Model.StartDate.Year<=1000?DateTime.Now.ToLocalTime().ToString("dd/MM/yyyy") : Model.StartDate.ToString("dd/MM/yyyy"))">
                    <span asp-validation-for="StartDate" class="small text-danger"></span>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <div class="form-group date datepicker" id="endDate">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" type="text" class="form-control" id="EndDateInput" value="@(Model.EndDate.Year<=1000?DateTime.Now.ToLocalTime().ToString("dd/MM/yyyy") : Model.EndDate.ToString("dd/MM/yyyy"))">
                    <span asp-validation-for="EndDate" class="small text-danger"></span>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TotalDays"></label>
                    <input asp-for="TotalDays" type='text' class="form-control" id="TotalDays" value="@(Model.TotalDays==0?0:Model.TotalDays)">
                    <span asp-validation-for="TotalDays" class="small text-danger"></span>
                </div>

                @*<div class="form-group">
                            <label asp-for="StartDate"></label>
                            <input asp-for="StartDate" class="form-control datepicker" placeholder="Your start date..." />
                            <span asp-validation-for="StartDate" class="small text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EndDate"></label>
                            <input asp-for="EndDate" class="form-control datepicker" placeholder="Your end date..." />
                            <span asp-validation-for="EndDate" class="small text-danger"></span>
                        </div>

                    <div class="form-group">
                            <label asp-for=""></label>
                            <input asp-for="" class="form-control"  placeholder="Number of days" />
                            <span asp-validation-for="" class="small text-danger"></span>
                        </div>*@

                <div class="form-group">
                    <label asp-for="LeaveTypeId"></label>
                    <select asp-for="LeaveTypeId" class="form-control">
                        @foreach (var type in Model.LeaveTypes)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>

                    <span asp-validation-for="LeaveTypes" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SubstituteEmployeeId"></label>
                    <select asp-for="SubstituteEmployeeId" class="form-control">
                        @foreach (var type in Model.EmployeesInTeam)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="SubstituteEmployeeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Comments"></label>
                    <textarea asp-for="Comments" class="form-control datepicker" rows=4 placeholder="Comments..."></textarea>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Submit" />
                @*<a class="btn btn-primary float-left" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@

            </form>
        </div>
    </div>
</div>

@*@section BootstrapDatePicker
    {
        <script type="text/javascript">
            $(function () {
                // Bootstrap DateTimePicker v4
                $('#datepicker1').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            });
        </script>
    }*@