@model AllLeavesQueryModel;

@{
    this.ViewData["Title"] = "All leaves";
}



<form method="get">
    <div class="row mb-4">
        <div class="form-group col-md-2">
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                @foreach (var status in Model.Statuses)
                {
                    <option value="@((int)status)">@status</option>
                }
            </select>
        </div>


        <div class="form-group col-md-2">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>



    </div>

</form>



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Total days</th>
            <th scope="col">Status</th>
            <th scope="col">Request date</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Leaves.Count() == 0)
        {
            <tr>
                <td class="text-danger">No records!</td>
            </tr>

        }

        @foreach (var leave in Model.Leaves)
        {
            <tr>
                <td>@leave.FirstName</td>
                <td>@leave.LastName</td>
                <td>@leave.StartDate</td>
                <td>@leave.EndDate</td>
                <td>@leave.TotalDays</td>
                <td>@leave.Status</td>
                <td>@leave.RequestDate</td>
                <td>
                    <a asp-controller="Leaves" asp-action="Details" asp-route-id="@leave.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }


    </tbody>
</table>