@model AllLeavesQueryModel;

@{
    ViewBag.Title = "All leaves";
    ViewBag.LeavesAreNestedCollection = true;
    ViewBag.IsInForApprovalPage = false;
    ViewBag.IsInMyLeavesPage = false;
}

<form method="get">
    <div class="row mb-4">

        <div class="form-group col-md-2">
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                <option value="" selected>All</option>
                @foreach (var status in Model.Statuses)
                {
                    <option value="@((int)status)">@status</option>
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="form-group col-md-2">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Start date</option>
                <option value="1">Request date</option>
                <option value="2">Full name</option>
                <option value="3">Total days</option>
            </select>
        </div>
        <div class="col-md-2 mt-4">
            <div class="mt-2"></div>
            <input class="btn btn-success" type="submit" value="Search" />
        </div>
    </div>
</form>

<partial name="_LeavesPartial" model="@Model"/>

@{

    var modelStatus = Model.Status != null ? (int?)Model.Status : null;
}

<ul class="pagination justify-content-center">
    <li class="page-item @(Model.CurrentPage==1 ? "disabled":string.Empty)">
        <a class="page-link"
           asp-controller="Leaves"
           asp-action="All"
           asp-route-CurrentPage="1"
           asp-route-Status="@modelStatus"
           asp-route-FirstName="@Model.FirstName"
           asp-route-LastName="@Model.LastName"
           asp-route-Sorting="@((int)Model.Sorting)"><<</a>
    </li>
    <li class="page-item @(Model.HasPreviousPage ? string.Empty: "disabled")">
        <a class="page-link"
           asp-controller="Leaves"
           asp-action="All"
           asp-route-CurrentPage="@Model.PreviousPageNumber"
           asp-route-Status="@modelStatus"
           asp-route-FirstName="@Model.FirstName"
           asp-route-LastName="@Model.LastName"
           asp-route-Sorting="@((int)Model.Sorting)">Previuos</a>
    </li>
    <li class="page-item active" aria-current="page">
        <span class="page-link">@Model.CurrentPage</span>
    </li>
    <li class="page-item @(Model.HasNextPage ? string.Empty: "disabled")">
        <a class="page-link"
           asp-controller="Leaves"
           asp-action="All"
           asp-route-CurrentPage="@Model.NextPageNumber"
           asp-route-Status="@modelStatus"
           asp-route-FirstName="@Model.FirstName"
           asp-route-LastName="@Model.LastName"
           asp-route-Sorting="@((int)Model.Sorting)">Next</a>
    </li>
    <li class="page-item @(Model.CurrentPage==Model.MaxPage ? "disabled": string.Empty)">
        <a class="page-link"
           asp-controller="Leaves"
           asp-action="All"
           asp-route-CurrentPage="@Model.MaxPage"
           asp-route-Status="@modelStatus"
           asp-route-FirstName="@Model.FirstName"
           asp-route-LastName="@Model.LastName"
           asp-route-Sorting="@((int)Model.Sorting)">>></a>
    </li>
</ul>